name: Code Coverage

on:
  push:
  pull_request:
    branches: [ master ]

env:
  MAKEFLAGS: -j8

jobs:

  coverage:
    if: github.repository_owner == 'arkq'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install Dependencies
      uses: ./.github/actions/apt-install-deps
    - name: Create Build Environment
      run: |
        mkdir -p ${{ github.workspace }}/{build,m4}
        autoreconf --install
    - name: Configure GNU Automake
      working-directory: ${{ github.workspace }}/build
      run: |
        ${{ github.workspace }}/configure \
          --enable-aac \
          --enable-aptx \
          --enable-aptx-hd \
          --with-libopenaptx \
          --enable-faststream \
          --enable-lc3-swb \
          --enable-midi \
          --enable-mp3lame \
          --enable-mpg123 \
          --enable-msbc \
          --enable-ofono \
          --enable-opus \
          --enable-upower \
          --enable-aplay \
          --enable-ctl \
          --enable-test \
          --with-coverage
    - name: Generate Coverage Report
      working-directory: ${{ github.workspace }}/build
      run: make cov
    - name: Upload Coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: build/lcov.info
